
.comment {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: 1px solid #333;
    border-radius: 20px;
    margin: 5px 30px 0;
    padding: 20px 20px 0;
    background-color: #000000b1;
    font-family: "Playwrite ES Deco", cursive;
}

.comment-right, .comment-right {
    width: 100%;
}

.comment-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.comment-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-top: 0;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-overflow: unset;
    color: rgb(231, 233, 234);
}

.comment .icons {
    margin: 3px 20px;
}

.comment {
    position: relative;
    border-radius: 20px;
    margin-bottom: 10px;
}

.comment img, .comment video {
    width: 100%;
}

.comment-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-header a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.comment-header #comment-header-info {
    display: flex;
    flex-direction: row;

}

.comment-header #comment-header-info span,
.comment-header #comment-header-info p {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 0;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
}

.comment-header #comment-header-info p {
    font-weight: 200;
    color: #4a5568;
}

.comment-content .medias {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


#drop-zone.drag-over {
    border: 2px dashed #000;
    background-color: #0a65ee;
}


/*Medias styling*/
.comment .single-media {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.comment .single-media img, .comment .single-media video {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.comment .double-media {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.comment .double-media img, .comment .double-media video {
    height: 100%;
    object-fit: cover;
    max-height: 250px;
}

.comment .four-media {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.comment .four-media img, .comment .four-media video {
    height: 100%;
    object-fit: cover;
    max-height: 250px;
}

.comment .comment .multi-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.comment .multi-media img, .comment .multi-media video {
    height: 100%;
    object-fit: cover;
    max-height: 250px;
}

.comment .multi-media.comment  .more-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-radius: 10px;
    cursor: pointer;
    background-color: #131313;
}

.comment .multi-media .more-media button {
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
