body {
    margin-left: 320px;
}

.leftBar a {
    text-decoration: none;
    color: #fff;
}

.leftBar {
    top: 0;
    left: 0;
    width: 320px;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100vh;
    border-right: 1px solid hsl(0, 0%, 20%);
    position: fixed;
    font-family: 'Open Sans', Helvetica, Cambria, sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: #000;
}

#logo {
    max-width: 261px;
    text-align: center;
    padding: 30px 50px;
    box-sizing: border-box;
    cursor: pointer;
    /* background-color: red; */
    margin: 0 auto;
}

#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.user-profile {
    width: 231px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 0 10px;
    background-color: #12444F;
    border-radius: 25px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 auto;
}

.user-profile img {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1daccc;
}

.user-profile span, .user-profile p {
    color: white;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-profile span {
    font-size: 1em;
}

.user-profile p {
    font-size: 0.7em;
    font-weight: 300;
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
}

#left-menu {
    width: fit-content;
    color: white;
    padding: 20px 0px;
    margin: 0 auto;
}

.left-menu-item {
    width: fit-content;
    margin: 0px 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.left-menu-item a {
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;
}

.left-menu-item p {
    margin: 0;
    font-weight: 350;
}

.left-menu-item:hover {
    background-color: #1f1f1f;
    border-radius: 15px;
}

span.material-style {
    font-size: 25px;
    font-variation-settings: 'opsz' 48;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        font-variation-settings: 'wght' 100;
    }
    50% {
        font-variation-settings: 'wght' 700;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}

/* Nível 1: Máximo 1200px */
@media (max-width: 1200px) {
    body {
        margin-left: 300px;
    }

    .leftBar {
        width: 300px;
    }
}

/* Nível 2: Máximo 1100px */
@media (max-width: 1100px) {
    body {
        margin-left: 270px;
    }

    .leftBar {
        width: 270px;
    }
}

/* Nível 3: Máximo 960px */
@media (max-width: 960px) {
    body {
        margin-left: 250px;
        background-color: #111;
    }

    .leftBar, .rightBar {
        width: 250px;
    }
}

/* Nível 4: Máximo 768px */
@media (max-width: 768px) {
    body {
        margin-left: 220px;
        background-color: #222;
    }

    .leftBar {
        width: 220px;
    }
}

/* Nível 5: Máximo 480px */
@media (max-width: 480px) {
    body {
        margin-left: 0;
        background-color: #333;
    }

    .leftBar {
        display: none;
    }
}
