body {
    margin: 0;
    padding: 10;
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
cursor: pointer;
}

.menu {
    width: 600px;
    background-color: #1c1c1c;
    border-radius: 8px;
    padding: 100px;
    margin: 10px auto;
    border: 3px solid rgba(8, 188, 238, 0.411);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #333;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item i {
    font-size: 24px;
    margin-right: 15px;
}

.menu-item span {
    font-size: 16px;
}
